
body::-webkit-scrollbar {
  display: none;
}

  body {
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Firefox */
}
  body {
  -ms-overflow-style: none; /* IE and Edge */
}
  
    body {
      
      padding: 0.25rem;
    }

    .shadow {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    .shadow-gray-300 {
      --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .rounded {
      border-radius: 0.25rem;
    }

    .overflow-hidden {
      overflow: hidden;
    }

    .w-fit-content {
      width: fit-content;
    }

    .bg-green-500 {
      --tw-bg-opacity: 1;
      background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
    }

    .h-2 {
      height: 0.5rem;
    }

    .pl-1 {
      padding-left: 0.25rem;
    }

    .pr-2 {
      padding-right: 0.5rem;
    }

    .py-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .flex {
      display: flex;
    }

    .my-auto {
      margin-top: auto;
      margin-bottom: auto;
    }

    .mr-2 {
      margin-right: 0.5rem;
    }

    .text-bold {
      font-weight: 700;
    }

    .text {
      --tw-text-opacity: 1;
      color: rgba(156, 163, 175, var(--tw-text-opacity));
    }

  </style>
  
  <script>
    window.onload = function() {
      var container = document.getElementById('reviewsContainer');
      var content = container.innerHTML;
      var clone = content.cloneNode(true);
      container.appendChild(clone);
    }
